<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="showForm" id="showForm" (ngSubmit)="createShow()">
          <div class="container">
  
              <div class="form-group">
                              <label for="movie">Film: </label>
                              <select class="form-control" formControlName="movie"  id="movie">
                                  <option [ngValue]="movie" *ngFor="let movie of movies">{{movie.name}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="startDate">Start dato: </label>
                                <input [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" class="form-control" formControlName="startDate" bsDatepicker type="text">
                              </div>

                              <div class="form-group">
                                  <label for="endDate">Slut dato: </label>
                                  <input [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" class="form-control" formControlName="endDate" bsDatepicker type="text">
                                </div>

                                <div class="form-group">
                                    <label for="ticketPrice">Billet pris: </label>
                                    <input class="form-control" formControlName="ticketPrice"  type="number">
                                  </div>

                                  <div class="form-group">
                                      <label for="hallNumber">Sal: </label>
                                      <select class="form-control" formControlName="hallNumber"  id="hallNumber">
                                          <option [ngValue]="hall" *ngFor="let hall of halls">{{hall}}</option>
                                        </select>
                                    </div>

                     
          </div>
  
          
  
  
      </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" [disabled]="!showForm.valid" form="showForm">{{closeBtnName}}</button>
  </div>