<div class="text-center mt-3"><h2>Kontrolpanel</h2></div>

<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Brugere"> 
              <app-edit-users-tab></app-edit-users-tab>
          </tab>
            
          <tab heading="Film">
             </tab>

          <tab heading="Forestillinger"> 

          </tab>
          <tab heading="Rabatter">
             </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
