<div class="text-center mt-3"><h2>Kontrolpanel</h2></div>

<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab *ngIf="authService.currentUser.role.name === 'Admin'" heading="Brugere"> 
              <app-edit-users-tab></app-edit-users-tab>
          </tab>
            
          <tab heading="Film">
              <app-create-movie-tab></app-create-movie-tab> 
             </tab>

          <tab heading="Forestillinger"> 
            <app-create-show-tab></app-create-show-tab>
          </tab>
          <tab *ngIf="authService.currentUser.role.name === 'Admin'" heading="Rabatter">
            <app-manage-discounts-tab></app-manage-discounts-tab>
             </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
