<div class="text-center mt-3">
    <h2>Forestillinger - {{pagination.totalItems}} fundet</h2>
  </div>
  
  <div class="container mt-3">
  
      <form class="form-inline" #form="ngForm" (ngSubmit)="loadShows()" novalidate>
            <div class="form-group ml-1">
              <label for="prices">Billet pris</label>
              <select class="form-control ml-1" id="prices" name="prices" [(ngModel)]="showParams.maxTicketPrice">
                <option *ngFor="let price of prices" value="{{price}}">Max. {{price}} kr.</option>
              </select>
            </div>

            <div class="form-group ml-1">
                <label for="stars">Stjerner</label>
                <select class="form-control ml-1" id="stars" name="stars" [(ngModel)]="showParams.stars">
                  <option *ngFor="let star of stars" value="{{star}}">Min. {{star}}</option>
                </select>
              </div>

              <div class="form-group ml-1">
                  <label for="hallNumber">Sal</label>
                  <select class="form-control ml-1" id="hallNumber" name="hallNumber" [(ngModel)]="showParams.hallNumber">
                    <option *ngFor="let hall of halls" value="{{hall}}">{{hall}}</option>
                  </select>
                </div>
          
          <button type="submit" class="btn btn-primary" style="margin-left:10px">Anvend filtre</button>
          <button (click)="resetFilters()" type="button" class="btn btn-info" style="margin-left:10px">Nulstil filtre</button>

         
          
        </form>
  
        <br>
  
    <div class="row">
      <div class="col-sm-12" *ngFor="let show of shows" >
        <app-show-grid [show]="show"></app-show-grid>
      </div>
    </div>
    <h4 *ngIf="movieIdFromQueryParam !== undefined && movieIdFromQueryParam !== 0 && pagination.totalItems === 0">
      Der er desværre ingen forestillinger med denne film, kom tilbage på et andet tidspunkt
    </h4>
  </div>
  
  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" 
    [totalItems]="pagination.totalItems" 
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  
    </pagination>
  </div>