<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Opret konto</h2>
  <hr>



  <div class="form-group">
    <input type="text" [ngClass]="{'is-invalid': username.errors && username.touched}" formControlName="username" class="form-control"  placeholder="Brugernavn">
    <div class="invalid-feedback">Vælg et brugernavn</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': name.errors && name.touched}" class="form-control"
      placeholder="Dit fulde navn" formControlName="name">
    <div class="invalid-feedback" *ngIf="name.touched && name.hasError('required')">Du skal indtaste dit fulde navn</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': email.errors && email.touched}" class="form-control"
      placeholder="Din email" formControlName="email">
    <div class="invalid-feedback" *ngIf="email.touched && email.hasError('required')">Du skal indtaste din email</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': phoneNumber.errors && phoneNumber.touched}" class="form-control"
      placeholder="Dit tlf. nr." formControlName="phoneNumber">
    <div class="invalid-feedback" *ngIf="phoneNumber.touched && phoneNumber.hasError('required')">Du skal indtaste dit tlf. nr.</div>
  </div>


  <div class="form-group">
    <input [ngClass]="{'is-invalid': city.errors && city.touched}" class="form-control"
      placeholder="By" formControlName="city">
    <div class="invalid-feedback" *ngIf="city.touched && city.hasError('required')">By er krævet</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': country.errors && country.touched}" class="form-control"
      placeholder="Land" formControlName="country">
    <div class="invalid-feedback" *ngIf="country.touched && country.hasError('required')">Land er krævet</div>
  </div>

  <div class="form-group">
      <input type="password" 
        [ngClass]="{'is-invalid': password.errors 
          && password.touched}"
        class="form-control" 
        formControlName="password" 
        placeholder="Adgangskode">
        <div class="invalid-feedback" 
          *ngIf="password.hasError('required') 
            && password.touched">
            Adgangskode er krævet
        </div>
        <div class="invalid-feedback" 
        *ngIf="password.hasError('minlength') 
          && password.touched">
          Adgangskode skal være på mindst 4 karaktere
      </div>
      <div class="invalid-feedback" 
      *ngIf="password.hasError('maxlength') 
        && password.touched">
        Adgangskode kan ikke være længere end 8 karaktere
    </div>
    </div>
  
    <div class="form-group">
        <input 
          [ngClass]="{'is-invalid': confirmPassword.errors 
            && confirmPassword.touched
            || confirmPassword.touched
            && registerForm.hasError('mismatch')}"
          type="password" 
          class="form-control" 
          formControlName="confirmPassword" 
          placeholder="Bekræft adgangskode">
          <div class="invalid-feedback" 
          *ngIf="confirmPassword.hasError('required') 
            && confirmPassword.touched">
            Adgangskode er krævet
        </div>
        <div class="invalid-feedback" 
        *ngIf="registerForm.hasError('mismatch') 
          && confirmPassword.touched">
          Adgangskoderne skal være ens
      </div>
      </div>

  <div class="form-group text-center">
    <button [disabled]="!registerForm.valid" class="btn btn-success mr-2" type="submit">Opret</button>
    <button class="btn btn-default" (click)="cancel()" type="button">Annuller</button>
  </div>
  
</form>

