<div *ngIf="movies">
  <div class="container mt-4">
    <div class="row mb-3">
      <div class="col-sm-12">
        <h2 class="text-center">Dine favoritter</h2>
      </div>
    </div>
    <div *ngFor="let movie of movies; let i = index" class="row mb-3">
      <div class="col-sm-3">
        &nbsp;
      </div>
      <div class="col-sm-3">
        <img style="max-width: 110px;" src="{{movie.poster}}" alt="">
      </div>
      <div class="col-sm-3">
        <h4>{{movie.name}}</h4>
        <a style="text-decoration: none" [routerLink]="['/movies/', movie.id]" class="card-link">Detaljer</a>
        <a [routerLink]="['/shows']" [queryParams]="{movieId: movie.id}" class="card-link">Vis program</a>
      </div>
      <div class="col-sm-3">
          &nbsp;
        </div>
        <hr *ngIf="i + 1 !== movies.length">
    </div>
  </div>
</div>
