<div *ngIf="show" >
    
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-12">
              
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <img src="{{show.movie.poster}}" class="card-img-top img-thumbnail" alt="" />
                <div class="card-body">
                  <div>
                    <strong>Pris pr. stk:</strong>
                    <p>{{show.ticketPrice}} kroner</p>
                  </div>
                  <div>
                      <strong>Dato:</strong>
                      <p>{{show.startDate | date:'EEEE kl. HH:MM'}}</p>
                    </div>
                    <div>
                        <strong>Sal:</strong>
                        <p>{{show.hallNumber}}</p>
                      </div>
                     
                        <div>
                          <strong>Dine pladser:</strong>
                          <br>
                          <p *ngIf="!selectedSeats.length">Ingen valgt</p>
                          <span *ngFor="let seat of selectedSeats">Række {{calculateRow(seat)}} Sædde {{calculateSeatNumber(seat)}}<br></span>
                        </div>
                </div>
                <div class="card-footer">
                   Subtotal: <span style="float: right;">{{finalOrderPrice | number:'1.0-0':'da'}} kroner</span> 
                   <br>
                   Rabat: <span style="float: right;">{{amountSaved | number:'1.0-0':'da'}} kroner</span> 
                </div>
              </div>
            </div>
            <div class="col-sm-9">
                <form [formGroup]="reservationForm" (ngSubmit)="makeReservation()">
                  
                  <h4>{{show.movie.name}}</h4>
                  
                  <div tooltip="Hold venstre-klik nede for at tilføje, hold højre-klik nede for at fjerne" placement="left" id="all-seats">
                    <div style="user-select: none;" *ngFor="let i of seatRange; let i = index">
                        <input [disabled]="selectedSeats.length === 10 && !seatInSelectedSeats(i)" (click)="toggleSeat(i)" id="seat-{{i}}" class="seat-select" type="checkbox" value="{{i}}" />
                        <label (mousemove)="dragToggle($event)" for="seat-{{i}}" class="seat"></label>
                        
                        <div *ngIf="i % 10 === 0">
                          <p class="line-breaker"></p>
                        </div>
                      </div>
                    </div>
              

                    

                    <div data-toggle="buttons" class="form-group ml-1">
                        <label class="control-label" style="margin-right:10px">Køb eller reserver: </label>
                        <br>
                        <label class="radio-inline">
                          <input class="form-control" class="mr-3 special-radio" type="radio" value="2" formControlName="bookingState"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span class="radio-text"> Køb</span>
                        </label>
                        <label class="radio-inline ml-3">
                          <input class="form-control" class="mr-3 special-radio" type="radio" value="1" formControlName="bookingState"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span class="radio-text"> Reserver</span>
                        </label>
                      </div>

                      <div *ngIf="reservationForm.get('bookingState').value == 2">
                        <div class="row">
                          <div class="col-12">
                              <div class="row">
                                  <div class="col-6">
                                      <div class="form-group ml-1">
                                          <label for="cc-number">Kredit kort nr.</label>
                                            <input id="cc-number" formControlName="creditCardNumber" minlength="15" maxlength="16" class="form-control" autocomplete="cc-number" placeholder="1000 0000 0000 0008">
                                          </div>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-3">
                                    <div class="form-group ml-1">
                                        <label for="cc-expiry">Udløbsdato</label>
                                          <input id="cc-expiry" formControlName="creditCardExpiry" minlength="5" maxlength="5"  class="form-control" autocomplete="cc-exp" placeholder="mm/yy">
                                        </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group ml-1">
                                        <label for="cc-cvv">CVC</label>
                                        <input id="cc-cvv" formControlName="creditCardCvv" class="form-control" minlength="3" maxlength="3" autocomplete="cc-csc" placeholder="xxx">    
                                            </div>
                                </div>
                              </div>
                          </div>
                        </div>
                          
                      </div>
                  
                    <div class="form-group ml-1">
                      <button style="width: 112px;" [disabled]="!reservationForm.valid || selectedSeats.length === 0" class="btn btn-success mr-2" type="submit">
                        {{reservationForm.get('bookingState').value == 1 ? 'Reserver' : 'Køb'}}
                      </button>
                      
                      <div *ngIf="reservationForm.get('bookingState').value == 1">
                        <br>
                        <p>Ved reservation skal du møde op i biografen 20 min. før filmen starter</p>
                        <p>Du bliver påmindet på tlf. nr. {{phoneNumber}}</p>
                      </div>

                    </div>
                    
                  </form>
            </div>
          </div>
    </div>
  </div>

