.seat {
    float: left;
    display: block;
    margin: 5px;
    background: #4CAF50;
    width: 40px;
    height: 40px;
}

.seat-select {
    display: none;
}

.seat-select:checked+.seat {
    background: #F44336;
}

p.line-breaker {
    height: 34px;
    width: 100%;
    /* fd */
}