<div *ngIf="movies">
  <div class="container mt-4">
    <div class="row mb-3">
      <div class="col-sm-12">
        <h2 class="text-center">5 mest populære film</h2>
      </div>
    </div>
    <div *ngFor="let movie of movies; let i = index" class="row mb-3">
      <div class="col-sm-3">
        &nbsp;
      </div>
      <div style="text-align: center;" class="col-sm-3">
        <img style="max-width: 110px;" src="{{movie.poster}}" alt="">
        <p class="mt-1" [innerHTML]="movie.stars | formatStars"></p>
        <p>{{movie.genre}}</p>
      </div>
      <div class="col-sm-3">
        <h4>{{movie.name}}</h4>
        <p>{{movie.countLikedBy}} {{movie.countLikedBy > 1 ? 'brugere har denne film som favorit!' : 'bruger har denne film som favorit!'}}</p>
        
        <a style="text-decoration: none" [routerLink]="['/movies/', movie.id]" class="card-link">Detaljer</a>
        <a href="javascript:void(0);" class="card-link">Vis program</a>
      </div>
      <div class="col-sm-3">
          &nbsp;
        </div>
        <hr *ngIf="i + 1 !== movies.length">
    </div>
  </div>
</div>
