<h4>Du har {{countOfRervations}} ordre</h4>
<p>{{countOfPaidReservations}} betalte ordrer</p>
<p>{{countOfReservedReservations}} reserveret ordrer</p>
<p>{{countOfCanceledReservations}} annulleret ordrer</p>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Dato</th>
        <th scope="col">Film</th>
        <th scope="col">Sæde</th>
        <th scope="col">Række</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <th scope="row">{{reservation.id}}</th>
        <td>{{reservation.created | date}}</td>
        <td><a style="text-decoration: none" [routerLink]="['/movies/', reservation.show.movie.id]">{{reservation.show.movie.name}}</a></td>
        <td>{{reservation.seat}}</td>
        <td>{{reservation.row}}</td>
        <td>{{reservation.bookingState === 2 ? 'Betalt' : reservation.bookingState === 1 ? 'Reserveret' : reservation.bookingState === 0 ? 'Annulleret' : 'Indløst'}}</td>
      </tr>
    </tbody>
  </table>