<h4>Du har {{countOfRervations}} ordre</h4>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Dato</th>
        <th scope="col">Film</th>
        <th scope="col">Sæde</th>
        <th scope="col">Række</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <th scope="row">{{reservation.id}}</th>
        <td (mouseleave)="dateHover = false" (mouseenter)="dateHover = true">{{dateHover == false ? (reservation.created | date) : (reservation.created | date:'medium')}}</td>
        <td><a style="text-decoration: none" [routerLink]="['/movies/', reservation.show.movie.id]">{{reservation.show.movie.name}}</a></td>
        <td>{{reservation.seat}}</td>
        <td>{{reservation.row}}</td>
        <td>{{reservation.bookingState === 2 ? 'Betalt' : reservation.bookingState === 1 ? 'Reserveret' : 'Ikke betalt'}}</td>
      </tr>
    </tbody>
  </table>