<div *ngIf="discountInformation">
  <h4>Dit rabattrin: {{discountInformation.discountStep.amount}}%</h4>
  <p>Du sparer {{discountInformation.discountStep.amount}}% på alle dine ordre</p>
  <p>Du har sparet {{user.lifetimeSavedAmount}} DKK i alt</p>
  <br>
  <div *ngIf="discountInformation.paidCount < discountInformation.highestRequiredBookings">
      <p>Næste rabattrin: {{discountInformation.nextStep.amount}}%</p>
      <p>Du mangler {{discountInformation.nextStep.requiredBookings - discountInformation.paidCount}} ordre for at opnå næste trin</p>
      <p>Kun ordre med statussen "Betalt" er godkendt</p>
  </div>

  <div *ngIf="discountInformation.paidCount >= discountInformation.highestRequiredBookings">
    <p>Du er på det højeste rabattrin</p>
  </div>
  
</div>
