<h4 style="text-align: center;">Brugere - {{pagination.totalItems}} i alt</h4>

<form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" style="margin: 0 auto; text-align: center; max-width: fit-content;" novalidate>
    
    
    <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control ml-1" id="status" name="status" [(ngModel)]="userParams.enabled">
          <option value="true">Aktiv</option>
          <option value="false">Inaktiv</option>
        </select>
      </div>

      <div class="form-group ml-1">
        <label for="pageSize">Vis</label>
        <select class="form-control ml-1" id="pageSize" name="pageSize" [(ngModel)]="userParams.pageSize">
          <option *ngFor="let pageSize of pageSizes" value="{{pageSize}}">{{pageSize}}</option>
        </select>
      </div>

      
    
    <button type="submit" class="btn btn-primary" style="margin-left:10px">Anvend filtre</button>
    <button (click)="resetFilters()" type="button" class="btn btn-info" style="margin-left:10px">Nulstil filtre</button>
    
  </form>

  <div class="row">
      <app-admin-users-list  [users]="users" class="text-center" style="margin: 0 auto; width: 100%;"></app-admin-users-list> 
    </div>


<div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" 
    [totalItems]="pagination.totalItems" 
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  
    </pagination>