<div class="container mt-4">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ movie.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img src="{{movie.poster}}" class="card-img-top img-thumbnail" alt="" />
        <div class="card-body">
          <div>
            <strong>Instruktør:</strong>
            <p>{{ movie.director }}</p>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success btn-block">Gem som favorit</button>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div>
        <strong>Beskrivelse:</strong>
        <p>{{ movie.description }}</p>
      </div>
      <div>
        <strong>Genre:</strong>
        <p>{{ movie.genre }}</p>
      </div>
      <div>
        <strong>Udgivet:</strong>
        <p>{{ movie.year }}</p>
      </div>
      <div>
        <strong>Spilletid:</strong>
        <p>{{ movie.minutes | minuteSeconds }}</p>
      </div>
      <div>
        <strong>Stjerner:</strong>
        <p [innerHTML]="movie.stars | formatStars"></p>
      </div>
    </div>
  </div>
</div>
